<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>
    </head>


    <body class="container">
        <nav th:replace="page-template :: topmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>


        <h1>Existing Authors</h1>

        <ol>
            <li th:each="author : ${authors}">
                <a th:href="@{/author/{authorId}(authorId=${author.id})}" th:text="${author.name}">author name</a>

                <form th:action="@{/author/{authorId}(authorId=${author.id})}" th:method="DELETE">
                    <input type="submit" value="Remove" th:id="${'remove-' + author.id}"/>
                </form><br/>


            </li>
        </ol>

    </body>
</html>