<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>
    </head>


    <body class="container">
        <nav th:replace="page-template :: topmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>


        <h1>Nykyiset kirjoittajat</h1>
        
        

        <table class="table">
            <tr th:each="author : ${authors}">
                <td th:text="${author.name}">author name</td>
                <td>
                    <span th:if="${author.chiefEditor}">Päätoimittaja</span>
                    <span th:if="${!author.chiefEditor}">Kirjoittaja</span>
                </td>
                <td th:text="${'Uutisia: ' + #lists.size(author.newsItems)}">newscount</td>
                <td th:if="${authorSignedIn != null}">
                    <form th:if="${authorSignedIn.chiefEditor && author.chiefEditor}" th:action="${'/author/'+author.id+'/demote'}" th:method="POST">
                        <input type="submit" value="Alenna" th:id="${'remove-' + author.id}"/>
                    </form>
                    <form th:if="${authorSignedIn.chiefEditor && !author.chiefEditor}" th:action="${'/author/'+author.id+'/promote'}" th:method="POST">
                        <input type="submit" value="Ylennä" th:id="${'remove-' + author.id}"/>
                    </form>
                </td>
                <td th:if="${authorSignedIn != null}">
                    <form th:if="${authorSignedIn.chiefEditor && author.newsItems.isEmpty()}" th:action="${'/author/'+ author.id}" th:method="DELETE">
                        <input type="submit" value="Poista kirjoittaja" th:id="${'remove-' + author.id}"/>
                    </form>
                </td>

            </tr>
        </table>



    </body>
</html>