<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>

    </head>

    <body class="container">
        <nav th:replace="page-template :: newsmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>

        <div class="row">
            <div class="col-sm-9">

                <!-- latest 5 news stories -->
                <div class="jumbotron" th:if="${selectedNewsItem == null && newsItemList == null}">
                    <h3>Viimeisimmät uutiset</h3>      
                    <table class="table table-bordered">
                        <tr>
                            <td th:each="newsItem : ${newsItemsNewTop5}">
                                <h2 th:text="${newsItem.heading}"></h2>
                                <span th:text="${newsItem.lede}"></span>
                                <div style="height: 100px;">
                                    <div class="mh-100" style="width: 100px; height: 200px;">
                                        <a th:href="${'/'+newsItem.id}">
                                            <img th:src="${'/newsitem/'+ newsItem.id +'/picture'}" class="mh-100 img-thumbnail ">
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>


                <!--Selected news item -->
                <div th:if="${selectedNewsItem != null}">
                    <h1 th:text="${selectedNewsItem.heading}"></h1>
                    <div>
                        <div class="mh-100" style="width: 300px; height: 300px;">
                            <img th:src="${'/newsitem/'+ selectedNewsItem.id +'/picture'}" class="mh-100 img-thumbnail ">
                        </div>
                    </div>
                    <p><mark class="lead" th:text="${selectedNewsItem.lede}"></mark></p>
                    <p th:text="${selectedNewsItem.text}"></p>
                    <p class="small" th:if="${selectedNewsItem.authors != null}">
                        Kirjoittanut: 
                        <span th:each="author : ${selectedNewsItem.authors}" >
                            <span th:text="${author.name}"></span>
                            <span th:text="${#temporals.format(selectedNewsItem.dateTime,'dd.MM.yyyy HH:mm')}"></span>
                        </span>
                    </p>
                    <p class="small" th:if="${selectedNewsItem.categories != null}">
                        Kategoriat:  
                        <span th:each="category : ${selectedNewsItem.categories}" >
                            <a th:href="${'/listbycategory/'+category.id}" th:text="${category.name}"></a>
                        </span>
                    </p>

                    <p class="small"><span th:text="${'Luettu yhteensä'+ #lists.size(selectedNewsItem.Hits) + ' kertaa.'}"></span></p>
                    <p class="small"><span th:text="${'Luettu '+ selectedNewsItem.popular + ' kertaa viimeisen 7 päivän aikana.'}"></span></p>
                    



                </div>

                <!--List-->
                <div th:if="${newsItemList != null}">
                    <h3 th:text="${listHeading}"></h3>
                    <table class="table">
                        <tr th:each="newsItem : ${newsItemList}">
                            <td><a th:href="${'/'+newsItem.id}" th:text="${newsItem.heading}"></a></td>

                            <td th:text="${#temporals.format(newsItem.dateTime,'dd.MM.yyyy HH:mm')}"></td>
                        </tr>
                    </table>

                </div>





            </div>


            <div class="col-sm-3">
                <h3>Uusimmat</h3>
                <ul class="list-group">
                    <li class="list-group-item" th:each="newsItem : ${newsItemsNewTop25}">
                        <a th:href="${'/'+newsItem.id}" th:text="${newsItem.heading}"></a>
                        <span th:href="${'/'+newsItem.id}" th:text="${#temporals.format(newsItem.dateTime,'dd.MM.yyyy HH:mm')}"></span>
                    </li>
                </ul>

                <h3>Luetuimmat</h3>
                <ul class="list-group">
                    <li class="list-group-item" th:each="newsItem : ${newsItemsHitsTop25}">
                        <a th:href="${'/'+newsItem.id}" th:text="${newsItem.heading}"></a>
                        <span th:text="${#temporals.format(newsItem.dateTime,'dd.MM.yyyy HH:mm')}"></span>
                    </li>
                </ul>
            </div>


        </div>




    </body>
</html>