<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>
    </head>



    <body class="container">
        <nav th:replace="page-template :: topmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>



        <h1>Write news</h1>      
        <p>
            Kirjoita uutinen ja täytä tiedot alla oleviin kenttiin. 
            Valitse tarvittaessa useita kirjoittajia ja useita kategorioita
            pitämällä CTRL painettuna. 
        </p>



        <form action="/newsitem" method="POST" enctype="multipart/form-data" >

            <table class="table">
                <tr>
                    <td>Heading</td>
                    <td><input class="form-control"type="text" name="heading" id="heading"/></td>
                </tr>
                <tr>
                    <td>Lede</td>
                    <td><input class="form-control" type="text" name="lede" id="lede"/></td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>
                        <textarea class="form-control" rows="5" name="text" id="text"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Picture</td>
                    <td><input class="form-control" type="file" name="picture" id="picture" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Lähetä" class="btn"/></td>
                </tr>

            </table>
        </form>

        <h1>Lista uutisista</h1>
        <table class="table table-hover table-bordered">
            <tr>
                <th>Id</th>
                <th>Otsikko</th>
                <th>Ingressi</th>
                <th>Kuva</th>
                <th>Kirjoittajat</th>
                <th>Kategoriat</th>
                <th colspan="2">Hallinnointi</th>
            </tr>
            <tr th:each="newsItem : ${newsItems}">
                <td th:text="${newsItem.id}">id</td>
                <td th:text="${newsItem.heading}">Heading</td>
                <td th:text="${newsItem.lede}">lede</td>        
                <td>
                    <div style="height: 100px;">
                        <div class="mh-100" style="width: 100px; height: 200px;">
                            <img th:src="${'/newsitem/'+ newsItem.id +'/picture'}" class="mh-100 img-thumbnail ">
                        </div>
                    </div>
                </td>
                <td>
                    <table>
                        <tr th:each="author : ${newsItem.authors}">
                            <form th:action="${'/newsitem/' + newsItem.id + '/author/'+ author.id}" th:method="DELETE">
                                <td th:text="${author.name+'&nbsp;'}"></td>
                                <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove"></button></td>
                            </form>
                        </tr>
                        <tr>
                            <td>Lisää...</td>
                            <td>

                                <!-- Trigger the modal with a button -->
                                <button class="btn btn-default btn-xs glyphicon glyphicon-plus" data-toggle="modal" th:data-target="${'#ModalAuthor'+newsItem.id}"></button>
                                <!-- Modal -->
                                <div class="modal fade" th:id="${'ModalAuthor'+newsItem.id}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Lisää kirjoittaja</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p th:text="${'Lisää kirjoittaja uutiseen ' + newsItem.heading}"></p>
                                                <form th:action="${'/newsitem/' + newsItem.id +'/author'}" th:method="POST">
                                                    <p>Valitse kirjoittaja listasta ja paina Lisää.</p>
                                                    <p><select class="form-control" name="authorId" id="authorId">                                                            
                                                            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Author</option>
                                                        </select>
                                                    </p>
                                                    <p>
                                                        <input type="submit" value="Lisää" class="btn"/>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr th:each="category : ${newsItem.categories}">
                            <form th:action="${'/newsitem/' + newsItem.id + '/category/'+ category.id}" th:method="DELETE">
                                <td th:text="${category.name}+'&nbsp;'" ></td>
                                <td><button class="btn btn-default btn-xs glyphicon glyphicon-remove"></button></td>
                            </form>
                        </tr>
                        <tr>
                            <td>Lisää...</td>
                            <td>

                                <!-- Trigger the modal with a button -->
                                <button class="btn btn-default btn-xs glyphicon glyphicon-plus" data-toggle="modal" th:data-target="${'#ModalCategory'+newsItem.id}"></button>
                                <!-- Modal -->
                                <div class="modal fade" th:id="${'ModalCategory'+newsItem.id}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Lisää kategoria</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p th:text="${'Lisää kategoria uutiseen ' + newsItem.heading}"></p>
                                                <form th:action="${'/newsitem/' + newsItem.id +'/category'}" th:method="POST">
                                                    <p>Valitse kategoria listasta ja paina Lisää.</p>
                                                    <p><select class="form-control" name="categoryId" id="categoryId">
                                                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category</option>
                                                        </select>
                                                    </p>
                                                    <p>
                                                        <input type="submit" value="Lisää" class="btn"/>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <span th:if="${newsItem.approved}">Hyväksytty</span>
                    <span th:if="${!newsItem.approved}">Ei hyväksytty</span>
                    <span th:if="${authorSignedIn != null}">
                        <!--Approve =publish-->
                        <form  th:if="${authorSignedIn.chiefEditor&&newsItem.approved==false}" th:action="${'/newsitem/' + newsItem.id + '/approve'}" th:method="POST">      
                            <button class="btn btn-default btn-xs">Hyväksy</button>
                        </form>

                        <!--Revoke-->
                        <form th:if="${authorSignedIn.chiefEditor&&newsItem.approved}" th:action="${'/newsitem/' + newsItem.id + '/approve'}" th:method="POST">      
                            <button class="btn btn-default btn-xs">Poista hyväksyntä</button>
                        </form>
                        
                        <!--Delete-->
                        <form th:if="${authorSignedIn.chiefEditor==true}" th:action="${'/newsitem/' + newsItem.id}" th:method="DELETE">      
                            <button class="btn btn-default btn-xs">Poista uutinen</button>
                        </form>
                        
                        
                    </span>




                </td>


            </tr>

        </table>

    </body>
</html>