<!DOCTYPE html>
<html>
    <head th:fragment="page-template :: head">
        <title>WepaNews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>


    <body>
        <nav class="navbar navbar-inverse bg-inverse" th:fragment="topmenu">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WepaNews</a>
            </div>

            <div class="collapse navbar-collapse">
                <span>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/author">Authors</a>
                        </li>
                        <li>
                            <a href="/author/signup">Signup</a>
                        </li>
                        <li>
                            <a href="/author/login">Login</a>
                        </li>
                    </ul>
                </span>

                <span class="navbar-text" style="float:right">
                    <span th:text="${nameSignedIn}"></span>
                    <a th:if="${nameSignedIn != null}" href="/author/logout">Logout</a>
                </span>

            </div>
        </nav>

        <div class="alert alert-danger"  th:if="${error != null}" th:text="${error}" th:fragment="error">
            Error message comes here
        </div>
        <div class="alert alert-success"  th:if="${message != null}" th:text="${message}" th:fragment="message">
            Message comes here
        </div>



        <div class="navbar navbar-inverse navbar-fixed-top" >
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Static header</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="active"><a href="/author">Authors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </body>
</html>
