<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>
    </head>



    <body class="container">
        <nav th:replace="page-template :: topmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>

        <h1>Salasanan vaihtaminen</h1>

        <div>
            Anna uusi salasana:<br/>
            <form th:action="${'/author/' + author.id + '/password'} " method="POST" >
                Password: <input type="text" name="password" id="password"/><br>
                Verify Password: <input type="text" name="verifyPassword" id="verifyPassword"/><br>
                <br>
                <input type="submit"/>
            </form>
        </div>

        

    </body>
</html>