<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="page-template :: head">
        <title>WepaNews</title>
    </head>



    <body class="container">
        <nav th:replace="page-template :: topmenu"></nav>
        <div th:replace="page-template :: error"></div>
        <div th:replace="page-template :: message"></div>

        <h1>Rekisteröidy kirjoittajaksi</h1>

        <div>
            <p>Täytä kentät ja valitse lähetä</p>

            <form action="/author/signup" method="POST" >
                <table class="table">
                    <tr>
                        <td>Nimi</td>                      
                        <td><input class="form-control" type="text" name="name" id="name"/></td>
                    </tr>
                    <tr>
                        <td>Salasana</td>                      
                        <td><input class="form-control" type="text" name="password" id="password"/></td>
                    </tr>
                    <tr>
                        <td>Salasana uudestaan</td>                      
                        <td><input class="form-control" type="text" name="verifyPassword" id="verifyPassword"/></td>
                    </tr>
                   
                    <tr>
                        <td colspan="2"><input type="submit" value="Lähetä"></td>
                    </tr>


                    <br>

                </table>
            </form>
        </div>



    </body>
</html>